
@media print{
    br {
        page-break-after: always;
    }
}

body{
    background-color: whitesmoke;
   
}

#container {
    margin: auto;
}

body section{
    width: 33%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

table{
    text-align: left;
}

.show{
    display: block !important;
}